<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Britney Spears | About</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <header>All About Britney!!!</header>
      <div class="nav">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tours">Tour</a>
    </nav>
    </div>
  <section>
    <p>
    Britney Jean Spears was born in McComb (Mississippi) and raised in rural Louisiana (Kentwood) to Jamie Spears and Lynne Spears. As a child, Britney attended dance classes, and she was great at gymnastics, winning many competitions and the like. But, most of all, Britney loved to sing. At age 8, Britney tried out for The All New Mickey Mouse Club (1989), but was turned down due to her young age. This directed her to an off-Broadway show, "Ruthless", for a 2-year run as the title character. At age 11, she again tried for The All New Mickey Mouse Club (1989) and, this time, made it as a mouseketeer alongside many stars of today (Justin Timberlake and J.C. Chasez of *NSYNC and Ryan Gosling). Her big break, however, came when she was signed as a Jive Recording Artist in the late 90s. With the release of her debut album, "...Baby One More Time" in early 1999, Britney became an international success, selling 13 million copies of "Baby" and 9 million (as of July 2001) of her sophomore album, "Oops!...I Did It Again", released in May of 2000.
    </p>
  </section>
  <footer>
      <small>(c) 2014 Britney Spears Fan Club</small>
  </footer>
  </body>
</html>


