<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Britney Spears | Discography</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>THE Music</header>
      <div class="nav">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tours">Tour</a>
    </nav>
    </div>
    <section>
      <h2>Britney Jean</h2>
      <h4>Released December 2013 </h4>
      <img src="/images/britneyjean.png">
      <ol>
        <li>Alien</li>
        <li>Work Bitch</li>
        <li>Perfume</li>
        <li>It Should Be Easy</li>
        <li>Tik Tik Boom</li>
        <li>Body Ache</li>
        <li>Til It's Gone</li>
        <li>Passenger</li>
        <li>Chillin' With You</li>
        <li>Don't Cry</li>
        <li>Brightest Morning Star</li>
        <li>Hold on Tight</li>
        <li>Now That I Found You</li>
        <li>Perfume</li>
      </ol>
    </section>
    <footer>
      <small>(c) 2014 Britney Spears Fan Club</small>
    </footer>
    </body>
</html>
