<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Britney Spears</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>Britney Spears Fan Page!!!</header>
      <div class="nav">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tours">Tour</a>
    </nav>
    </div>
    <section>
      <div id="container">
      <img id="main" src="/images/cover.jpg">
      </div>
    </section>
    <footer>
      <small>(c) 2014 Britney Spears Fan Club</small>
    </footer>
  </body>
</html>
