<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Britney Spears | Tour</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>Upcoming Tour Dates</header>
      <div class="nav">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tours">Tour</a>
    </nav>
    </div>
    <section>
      <h3>Britney is currently doing all her shows at The Planet Hollywood Casino on Las Vegas.</h3>  
      <div id="contentBox" style="margin:0px auto; width:100%">
        <div id="column1" style="float:left; margin:0; width:70%;">
          <img id="main" src="/images/hollywood.png">
        </div>

       <div id="column2" style="float:left; margin:0;width:30%;">
      <h3>Her upcoming shows are:</h3>
      <div class="date">
        <ul>
          <li>August 15, 2014</li>
          <li>August 16, 2014</li>
          <li>August 19, 2014</li>
          <li>August 20, 2014</li>
          <li>August 23, 2014</li>
          <li>August 24, 2014</li>
          <li>August 27, 2014</li>
          <li>August 28, 2014</li>
          <li>August 30, 2014</li>
          <li>August 31, 2014</li>
        </ul>
        </div>
       </div>
     </div>
    </section>
    <footer>
      <small>(c) 2014 Britney Spears Fan Club</small>
    </footer>
  </body>
</html>

